table 
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th 
{
    border: 1px solid #b7b4a5;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) 
{
    background-color: #dddddd;
}

.status[status="PENDING"] {
 color : blue
}

.status[status="RUNNING"],[status="FINISHED"] {
 color : green
}

.status[status="FAILED"],[status="FAILED"],[status="ERROR"] {
 color : red
}

