<!doctype html>
<html>
    <head>
        <title>Test Several Files</title>
        <link rel="stylesheet" href="/static/css/table.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="static/js/progressbar.js"></script>
        <script src="static/js/papa_parse_min_5.0.2.js"></script>
        <script src="static/js/test_files.js"></script>
        <script src="static/js/export_results.js"></script>
    </head>
    <body>
        <h1>Test Several Files</h1>

        Files to Test <input type="file" id="submission" name="submission"  multiple="multiple" />     <br>
        Testing Code <input type="file" id="testing_code" name="testing_code" /> <br>
        Worker<br>
        {% for worker in workers %}
            <input type="radio" id="worker" name="worker" value="{{ worker }}" {{ 'checked' if loop.index == 1 else ''}} >{{ worker }}</input>   
        {% endfor %}
        <br>
        <button id="submit_files" onClick=uploadFiles(event)>Submit Files</button>
        <br>
        
        
        <div class="progressbar" hidden></div>
        <a id="download-json" download="submissions.json" href="" hidden>Download JSON</a>
        <a id="download-csv"  download="submissions.csv"  href="" hidden>Download CSV</a>
        <table style="width:100%" hidden>
          <tr>
            <th>Submission</th>
            <th>Status</th>
            <th>Errors</th> 
            <th>Results</th>
          </tr>
          <tr class=table-template-row hidden>
            <td class=file-name></td>
            <td class=status> Uploading </td>
            <td class=errors></td> 
            <td class=results></td>
          </tr>
        </table>
    </body>
</html>
